{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "chrome": "70",
          "node": "current"
        }
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": ["@babel/proposal-class-properties", "@babel/proposal-object-rest-spread", "react-hot-loader/babel"]
}
