html {
  height: 100%;
  width: 100%;
}

body {
  background: $pt-dark-app-background-color;
  padding: 20px;
}

.Navbar {
  margin-bottom: 30px;
}

.normalTextGroup,
.longerTextGroup {
  display: inline-block;
  width: 250px;
  margin-right: 15px;
}

.longerTextGroup {
  width: 500px;
}
