div::-webkit-scrollbar {
  width: 12px;
}
div::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(18, 30, 34, 0.3);
  border: 2px solid rgba(59, 87, 99, 0.1);
}
div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(18, 30, 34, 0.3);
  border: 1px solid rgba(0, 238, 255, 0.3);
}
div::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to left, rgba(0, 238, 255, 0.4), rgba(0, 238, 255, 0.8));
}
div::-webkit-scrollbar-thumb:active {
  background: linear-gradient(to left, rgba(0, 154, 165, 0.4), rgba(0, 154, 165, 0.8));
}

body,
html {
  height: 100%;
}

body {
  display: flex;

  background: $pt-dark-app-background-color;
  background-image: url('../images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20px;

  @include for-tablet-down {
    padding: 20px 40px;
  }

  @include for-phone-only {
    padding: 0;
  }
}

.flex {
  &-display {
    display: flex;
  }

  &-column {
    flex-direction: column;
  }

  &-grow {
    flex-grow: 1;
  }

  &-shrink {
    flex-shrink: 1;
  }

  &-center {
    justify-content: center;
  }

  &-align {
    & > * {
      align-self: center;
    }
  }
}

.space-elements {
  &-vertical {
    & > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &-horizontal {
    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }
}

#FourOhFour {
  p {
    font-size: 32px;
    width: 350px;
    margin: 70px auto 0 auto;
  }
}

#root {
  max-width: 1024px;
  margin: 0 auto;

  display: flex;
  flex: 1;

  @include for-phone-only {
    min-width: 100%;
  }

  #NavBar {
    .heading {
      font-family: 'Ark';
      font-size: 20px;
    }

    .user-greeting {
      max-width: 140px;
    }

    @include for-phone-only {
      .user-greeting {
        display: none;
      }

      #AdminMenu {
        margin-top: 3px;
      }
    }

    .menuArea {
      width: 70%;

      .bp3-breadcrumbs {
        width: 100%;
      }

      @media (max-width: 630px) {
        width: 40%;

        .bp3-breadcrumbs {
          width: 20px;
        }
      }
    }
  }

  #Layout {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid rgba(0, 238, 255, 0.3);
  }

  #Content {
    background: linear-gradient(
      to bottom,
      rgba(29, 48, 54, 0.8) 0%,
      rgba(59, 87, 99, 0.8) 18%,
      rgba(18, 30, 34, 0.9) 88%
    );

    flex: 1;
    padding: 10px;
    margin-top: -15px;
    height: 100%;
    overflow-y: auto;

    h1 {
      font-family: 'Ark';
      text-transform: uppercase;
      border-bottom: 2px solid rgba($white, 0.3);
    }
  }

  #StatusFooter {
    padding: 5px 10px;

    background: linear-gradient(
      to bottom,
      rgba(103, 151, 172, 0.8) 0%,
      rgba(29, 43, 49, 0.8) 50%,
      rgba(70, 103, 117, 0.8) 80%,
      rgba(27, 27, 27, 1) 100%
    );

    .bot,
    .server {
      color: white;
      width: 120px;
      text-align: right;
    }

    @include for-phone-only {
      .label {
        font-size: 10px;
      }
    }
  }

  #About {
    cursor: help;

    .label {
      transition: all 1s;
    }

    &:hover .label {
      color: yellow;
    }
  }
}

.error-panel {
  margin-bottom: 10px;
}

.gravatar {
  &-icon {
    border-radius: 25%;

    &.gravatar-help {
      cursor: help;
    }
  }
}

.bp3-menu {
  strong {
    color: white;
  }
}
