#PlayerListPage {
  .playerListTable {
    width: 580px;
    margin: 0 auto;

    &.adminPlayerList {
      width: 700px;
    }
  }

  .messageInput > *:not(:last-child) {
    margin-right: 10px;
  }
}
