@import '~normalize.css';
@import '~@blueprintjs/core/src/blueprint.scss';
@import '~@blueprintjs/table/src/table.scss';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

@import 'fonts';
@import 'global';

.messageInput {
  margin-bottom: 10px;
}

.socketLog {
  font-family: 'VT323';
  font-size: 150%;
}
