{
  "auth": {
    "host": "localhost",
    "port": 27015,
    "password": "adminPassword"
  },
  "commands": {
    "maxConnectionAttempts": 5,
    "maxPacketTimeouts": 5
  },
  "discord": {
    "discordAdminName": "Your Server Admin",
    "discordWebhookURL": ""
  }
}
